*{
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.logo-navbar{
    width: 40px;
}
.navbar{
    background-color: #778C79;

}
body{
    background-color: black;
}
.card{
    padding: 0;
    margin: 20px 25px;
    background-color: #778C79;
}
h2{
    color: aliceblue;
}
i{
    color: aliceblue;
}
.icons{
    background-color: #778C79;
}
p{
    color: aliceblue;
}
form{
    color: aliceblue;
}
.btn{
background-color: #778C79;
margin-left: 50px;
}
footer{
    background-color: #778C79;
    height: 10%;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    font-size: 30px;
}
.text-footer{
    display: inline;
    padding: 10px;
    margin: 20px;
}
.icon-footer{
    display: flex;
    gap: 15px;
    font-size: 30px;
}